header{
    background-color: #0f173f;
      color: #ffffff;
      padding: 10px;
      font-size: 20px;
      height: 70px;
      display: flex;
      position:sticky;
      top: 0;
      align-items: center;
  }
  
  .logo{
      font-family: sans-serif;
      font-weight: bold;
      margin-left:5px;
      margin-top: 4 px;
   
  }
  
  a{
     
      text-decoration: none;
      margin-left: 0px;
      margin-top: 5px;
      font-size: 3mm;

  }
  
  
  .bi3{
   
      margin-right: 50px;
      margin-left: 35px;
  
      color: #ffffff;
  
  }
  .bi{
      margin-left: 23px;
      color: #ffffff;
  
  }
  
  
  .search{
      margin-top: 15px;
  }
  
  
  
  
  
  .dropbtn {
      background-color:#0f173f;
      color: white;
      padding: 16px;
      font-size: 16px;
      border: none;
      margin-left: 25px;
      margin-top: 5px;
    }
    
    .dropdown {
      position:relative;
      display: inline-block;
    }
    
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f1f1f1;
      min-width: 270px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }
    
    .dropdown-content a {
      color: black;
      padding: 12px 16px;
      text-decoration: none;
      display: block;
    }
    
    .dropdown-content a:hover {background-color: rgb(86, 235, 235);}
    
    .dropdown:hover .dropdown-content {display: block;}
    
    .dropdown:hover .dropbtn {background-color: #0f173f;}
  
  .p1{
      font-size: 14px;
      margin-left: 8px;
      margin-top: 5px;
  }
    
  .icon{
    width: 40px;
    height: 40px;
  color: #0f3f25;
  }
  