<h1>Product Master Home.</h1>
<br>
<a class="btn btn-info col-sm-2 offset-sm-9 " routerLink="/productmaster/add-product" routerLinkActive="active">+ Add Products</a>




<div class="row   ">


  <div class="card col-sm-2" *ngFor="let product of products">
    
    <!-- <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-heart" viewBox="0 0 16 16">
      <path d="m8 2.748-.717-.737C5.6.281 2.514.878 1.4 3.053c-.523 1.023-.641 2.5.314 4.385.92 1.815 2.834 3.989 6.286 6.357 3.452-2.368 5.365-4.542 6.286-6.357.955-1.886.838-3.362.314-4.385C13.486.878 10.4.28 8.717 2.01L8 2.748zM8 15C-7.333 4.868 3.279-3.04 7.824 1.143c.06.055.119.112.176.171a3.12 3.12 0 0 1 .176-.17C12.72-3.042 23.333 4.867 8 15z"/>
    </svg>
    <div class="hide">Add to wishlist.</div>
   -->
      <img class="card-img-top" src="https://mdbootstrap.com/img/Photos/Others/images/43.webp" alt="Card image cap">
      <div class="card-body ">

      <h6 class="card-title">{{product.products.productType}}</h6>  
      <p class="card-title">Colour: {{product.color}}</p>
      <p class="card-title">Material: {{product.material}}</p>
      <p class="card-title">Size: {{product.size}}</p>
      <p class="card-title">Quantity: {{product.itemQuantity}}</p>
  
  
  </div>
  <div class="card-footer d-flex">
      <a  class="btn btn-outline-info  " (click)="deleteProduct(product.id)">Delete</a>
  </div>
   
     
    </div>
  </div>
  